.bx-im-message-supervisor-base__scope {
	--im-message-supervisor-base__background-color_content: rgb(255 255 255 / 90%);
	--im-message-supervisor-base__font-color_title: #151515;
	--im-message-supervisor-base__font-color_description: var(--im-color-palette-gray-70);
}

.bx-im-message-supervisor-base__container {
	display: flex;
	max-width: 100%;
	min-width: 620px;
	height: 154px;
	max-height: 154px;
	background: var(--im-message-supervisor-base__background-color_content);
	border-radius: 16px;
	margin-right: 54px;
}

.bx-im-message-supervisor-base__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: calc(100% - 166px);
	padding-left: 17px;
	padding-right: 17px;
}

.bx-im-message-supervisor-base__title {
	font: var(--im-font-size-2xl)/var(--im-font-line-height-3xs) var(--im-font-family-system);
	color: var(--im-message-supervisor-base__font-color_title);
	font-weight: var(--im-font-weight-bold);
	margin-bottom: 8px;
	user-select: none;
	display: -webkit-box;
	overflow: hidden;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}

.bx-im-message-supervisor-base__description {
	max-width: 100%;
	padding-bottom: 2px;
	margin-bottom: 14px;
	font: var(--im-font-size-md)/var(--im-font-line-height-3xs) var(--im-font-family-system);
	color: var(--im-message-supervisor-base__font-color_description);
	user-select: none;
	display: -webkit-box;
	overflow: hidden;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
}

.bx-im-message-supervisor-base__buttons_container {
	display: flex;
	align-items: center;
	gap: 8px;
}

.bx-im-message-base__wrap + .bx-im-message-supervisor-base__scope {
	margin-top: 24px;
}

.bx-im-message-supervisor-base__scope + .bx-im-message-base__wrap {
	margin-top: 24px;
}