.mail-provider-item {
	position: relative;
	width: calc(100%/4 - 14px);
	min-width: 150px;
	max-width: 180px;
	height: 112px;
	border-radius: var(--ui-border-radius-xl);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	cursor: pointer;
}

.mail-provider-item-available {
	background: var(--ui-color-palette-white-base);
}

.mail-provider-item-unavailable {
	background: var(--ui-color-palette-gray-20);
	cursor: default;
}

.available-mail-provider-item::before {
	content: attr(data-tag);
	position: absolute;
	top: -5%;
	left: 60%;
	border-radius: var(--ui-border-radius-xs);
	font-family: var(--ui-font-family-secondary);
	font-size: var(--ui-font-size-xs);
	font-weight: var(--ui-font-weight-regular);
	color: var(--ui-color-palette-white-base);
	background: var(--ui-color-palette-blue-60);
	padding: 0 5px 2px;
}

.mail-provider-img-container {
	display: flex;
	min-height: 32px;
	min-width: 32px;
	justify-content: center;
	align-items: center;
}

.mail-provider-gmail-img {
	background-image: url('data:image/svg+xml,<svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.63354 21.525H5.45038V9.21509L0 5.13123L0 19.9071C0 20.8024 0.738236 21.525 1.63354 21.525Z" fill="%234285F4"/><path d="M18.5496 21.5248H22.3665C23.2775 21.5248 24 20.7865 24 19.8912V5.11694L18.5496 9.20081V21.5248Z" fill="%2334A853"/><path d="M18.5496 2.11581V9.19974L24 5.11588V2.93259C24 0.906362 21.6911 -0.240261 20.0732 0.969191L18.5496 2.11581Z" fill="%23FBBC04"/><path d="M5.45056 9.21516V2.13123L12.0004 7.04757L18.5503 2.13123V9.21516L12.0004 14.1158L5.45056 9.21516Z" fill="%23EA4335"/><path d="M0 2.93248V5.11577L5.45038 9.19963V2.1157L3.92679 0.969081C2.30895 -0.24037 0 0.92196 0 2.93248Z" fill="%23C5221E"/></svg>');
	height: 22px;
	width: 24px;
}

.mail-provider-icloud-img {
	background-image: url('data:image/svg+xml,<svg width="30" height="18" viewBox="0 0 30 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.1143 0.400027C15.7276 0.402691 14.3666 0.756346 13.1712 1.42467C11.9757 2.093 10.9888 3.05192 10.3118 4.20295C9.72907 3.93307 9.08959 3.7924 8.44146 3.79153C7.42561 3.79407 6.44374 4.13972 5.67097 4.76684C4.89819 5.39395 4.38476 6.26175 4.22223 7.21546C3.14919 7.64278 2.23286 8.36219 1.58838 9.2833C0.943911 10.2044 0.600039 11.2861 0.599976 12.3925C0.601489 13.8807 1.22432 15.3074 2.33155 16.3589C3.43877 17.4104 4.93973 18.0007 6.50444 18C6.75206 17.9979 6.99929 17.981 7.24467 17.9493H23.6507C23.7368 17.9552 23.8231 17.9592 23.9095 17.9612C23.9918 17.959 24.074 17.955 24.1561 17.9493H24.549V17.9215C25.8848 17.7713 27.1165 17.1579 28.0106 16.1977C28.9047 15.2375 29.399 13.9972 29.4 12.7119V12.7018C29.3969 11.4811 28.9487 10.2996 28.1325 9.36059C27.3163 8.42156 26.1832 7.78371 24.9281 7.55676C24.8536 5.63372 23.9975 3.81318 22.5401 2.47833C21.0827 1.14348 19.1377 0.398437 17.1143 0.400027Z" fill="url(%23paint0_linear_181_19974)"/><defs><linearGradient id="paint0_linear_181_19974" x1="29.4874" y1="12.7261" x2="0.589918" y2="12.307" gradientUnits="userSpaceOnUse"><stop stop-color="%233E82F4"/><stop offset="1" stop-color="%2393DCF7"/></linearGradient></defs></svg>');
	height: 18px;
	width: 30px;
}

.mail-provider-mailru-img {
	background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.4063 8C10.4063 9.32686 9.32686 10.4063 8 10.4063C6.67314 10.4063 5.59371 9.32686 5.59371 8C5.59371 6.67314 6.67314 5.59371 8 5.59371C9.32686 5.59371 10.4063 6.67314 10.4063 8ZM8 0C3.58857 0 0 3.58857 0 8C0 12.4114 3.58857 16 8 16C9.616 16 11.1743 15.5189 12.5063 14.6086L12.5291 14.5926L11.4514 13.34L11.4331 13.3514C10.408 14.0114 9.22057 14.36 8 14.36C4.49314 14.36 1.64 11.5069 1.64 8C1.64 4.49314 4.49314 1.64 8 1.64C11.5069 1.64 14.36 4.49314 14.36 8C14.36 8.45429 14.3091 8.91429 14.2103 9.36686C14.0091 10.1926 13.4309 10.4451 12.9971 10.412C12.5606 10.3766 12.0497 10.0657 12.0463 9.30457V8.72457V8C12.0463 5.76857 10.2314 3.95371 8 3.95371C5.76857 3.95371 3.95371 5.76857 3.95371 8C3.95371 10.2314 5.76857 12.0463 8 12.0463C9.084 12.0463 10.1006 11.6229 10.8669 10.852C11.3126 11.5457 12.0389 11.9806 12.8657 12.0469C12.9366 12.0526 13.0091 12.0554 13.0806 12.0554C13.6629 12.0554 14.2394 11.8606 14.7046 11.508C15.184 11.1434 15.5423 10.6171 15.74 9.98457C15.7714 9.88229 15.8297 9.64857 15.8297 9.64686L15.8314 9.63829C15.948 9.13086 16 8.62514 16 8C16 3.58857 12.4114 0 8 0Z' fill='%23FF9E00'/%3E%3C/svg%3E");
	height: 16px;
	width: 16px;
}

.mail-provider-office365-img {
	background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.39999 22.5601V7.96942L18.8397 3.19995L25.6 5.44356V25.085L18.8397 27.2L6.39999 22.5601L18.8397 24.1134V7.12843L10.7267 9.09267V20.5968L6.39999 22.5601Z' fill='%23E43B01'/%3E%3C/svg%3E");
	height: 32px;
	width: 32px;
}

.mail-provider-yahoo-img {
	background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 8.52562H6.10301L9.65677 17.6172L13.2567 8.52562H19.1984L10.2513 30.0485H4.27109L6.72036 24.3453L0.000188995 8.52562H0ZM26.1175 15.7901H19.4625L25.3692 1.6001L32 1.60038L26.1175 15.7901V15.7901ZM21.2058 17.1482C23.2478 17.1482 24.903 18.8035 24.903 20.8451C24.903 22.8868 23.2478 24.5422 21.2058 24.5422C19.1641 24.5422 17.5091 22.8868 17.5091 20.8451C17.5091 18.8035 19.1643 17.1482 21.2058 17.1482Z' fill='%23B070FF'/%3E%3C/svg%3E");
	height: 32px;
	width: 32px;
}

.mail-provider-yandex-img {
	background-image: url("data:image/svg+xml,%3Csvg width='24' height='18' viewBox='0 0 24 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.86091 9.04946C11.3601 10.3776 12.5528 10.3054 14.1539 9.04963C17.4813 11.9252 20.6723 14.862 23.9997 17.7375C23.9997 17.7895 23.9997 17.9036 23.9997 17.9556C15.9998 17.957 7.99991 17.9583 0 17.9596C0 17.9136 0 17.8099 0 17.7638C3.32653 14.8757 6.53438 11.9376 9.86091 9.04944V9.04946Z' fill='%23F2C102'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.97964 9.15615C11.4117 10.3945 12.4129 10.5682 14.0176 9.17218C17.345 6.15821 20.6723 3.14425 23.9997 0.130288C23.9997 0.100282 23.9997 0.0702828 23.9997 0.0402832C15.9998 0.0402832 7.99991 0.0402832 0 0.0402832C0 0.0754474 0 0.110612 0 0.1458C3.32653 3.14926 6.65311 6.15269 9.97964 9.15615Z' fill='%23EE0000'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.97966 9.15539L0 17.8198V0.14502L9.97966 9.15539Z' fill='%23FFCC01'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.0184 9.17043L24.0005 0.12854V17.797L14.0184 9.17043Z' fill='%23FFCC01'/%3E%3C/svg%3E");
	height: 18px;
	width: 24px;
}

.mail-provider-aol-img {
	background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.42917 2.55236C5.40662 2.63615 5.35288 2.83888 5.30973 3.00288C5.08102 3.87232 5.00994 4.13161 4.9982 4.13923C4.99106 4.14386 4.9889 4.15699 4.99338 4.1684C4.99787 4.17982 4.99506 4.18916 4.98713 4.18916C4.97921 4.18916 4.97585 4.20083 4.97968 4.21509C4.98348 4.22935 4.98056 4.24102 4.97316 4.24102C4.96577 4.24102 4.96316 4.24977 4.96736 4.26046C4.97156 4.27116 4.96852 4.27991 4.9606 4.27991C4.95267 4.27991 4.94932 4.29158 4.95314 4.30584C4.95695 4.3201 4.95396 4.33177 4.9465 4.33177C4.93903 4.33177 4.93597 4.34315 4.9397 4.35708C4.94343 4.371 4.94194 4.38412 4.93638 4.38625C4.93083 4.38837 4.88965 4.53013 4.84486 4.70126C4.76347 5.01221 4.72984 5.13795 4.63673 5.47915C4.60947 5.57898 4.57984 5.69274 4.57086 5.73196C4.56188 5.77118 4.52426 5.91411 4.48728 6.0496C4.4503 6.18508 4.37809 6.45636 4.3268 6.65246C4.27551 6.84855 4.20354 7.11983 4.16688 7.25532C4.1302 7.3908 4.07872 7.58623 4.05246 7.68962C4.0262 7.793 3.99844 7.88138 3.99076 7.88602C3.98308 7.89065 3.98046 7.9038 3.98495 7.91521C3.98943 7.92663 3.98662 7.93596 3.9787 7.93596C3.97078 7.93596 3.96742 7.94763 3.97124 7.96189C3.97505 7.97615 3.97213 7.98782 3.96473 7.98782C3.95734 7.98782 3.95472 7.99657 3.95893 8.00727C3.96312 8.01797 3.96008 8.02672 3.95216 8.02672C3.94424 8.02672 3.94088 8.03838 3.9447 8.05265C3.94851 8.06691 3.94553 8.07858 3.93807 8.07858C3.9306 8.07858 3.92761 8.09024 3.93143 8.10451C3.93524 8.11877 3.93226 8.13043 3.9248 8.13043C3.91733 8.13043 3.91426 8.14182 3.91799 8.15574C3.92172 8.16967 3.92047 8.18279 3.91523 8.18491C3.90998 8.18704 3.87772 8.29379 3.84354 8.42214C3.80938 8.55049 3.73898 8.81303 3.68714 9.00555C3.6353 9.19808 3.56106 9.47812 3.52217 9.62786C3.48329 9.7776 3.42716 9.99055 3.39746 10.1011C3.36775 10.2116 3.30813 10.4362 3.26497 10.6002C3.22182 10.7642 3.16853 10.9655 3.14657 11.0475C3.12459 11.1295 3.08516 11.2783 3.05893 11.3781C3.03269 11.4779 3.00474 11.5722 2.9968 11.5875C2.98887 11.6029 2.98641 11.6219 2.99135 11.6297C2.99628 11.6375 2.99337 11.6439 2.98486 11.6439C2.97635 11.6439 2.97283 11.6526 2.97703 11.6633C2.98122 11.674 2.97819 11.6828 2.97026 11.6828C2.96234 11.6828 2.95899 11.6944 2.96281 11.7087C2.96661 11.723 2.96363 11.7346 2.95617 11.7346C2.9487 11.7346 2.94572 11.7463 2.94954 11.7606C2.95335 11.7748 2.95043 11.7865 2.94302 11.7865C2.93563 11.7865 2.93302 11.7952 2.93722 11.8059C2.94142 11.8166 2.93838 11.8254 2.93046 11.8254C2.92226 11.8254 2.91878 11.8393 2.9224 11.8578C2.92589 11.8756 2.92296 11.8902 2.91589 11.8902C2.90883 11.8902 2.90648 11.899 2.91069 11.9097C2.91488 11.9203 2.91184 11.9291 2.90392 11.9291C2.896 11.9291 2.89256 11.9405 2.89629 11.9544C2.90002 11.9683 2.89831 11.9815 2.8925 11.9836C2.8827 11.9872 2.85796 12.0769 2.68052 12.7524C2.64494 12.8878 2.58894 13.0979 2.5561 13.2191C2.50033 13.4249 2.4173 13.7383 2.24866 14.3794C2.21021 14.5256 2.1446 14.7706 2.10284 14.924C2.06107 15.0773 2.02097 15.2289 2.01372 15.261C2.00647 15.2931 1.99474 15.3264 1.98765 15.335C1.98058 15.3436 1.97831 15.3562 1.98264 15.3631C1.98696 15.3699 1.98569 15.3775 1.97982 15.3799C1.96529 15.3858 1.89582 15.6499 1.90497 15.6644C1.90899 15.6707 1.90526 15.6759 1.89668 15.6759C1.88775 15.6759 1.88398 15.6867 1.88786 15.7012C1.89158 15.7151 1.8905 15.7283 1.88543 15.7304C1.87703 15.7339 1.773 16.1047 1.70977 16.3566C1.67668 16.4884 1.59475 16.796 1.51293 17.0955C1.47787 17.2239 1.43001 17.4048 1.40657 17.4975C1.38311 17.5901 1.33469 17.7727 1.29894 17.9031C1.23801 18.1253 1.0494 18.8399 1.0176 18.9689C1.00969 19.001 0.997661 19.031 0.990867 19.0356C0.98406 19.0401 0.9826 19.0503 0.987616 19.0582C0.992632 19.0662 0.989712 19.0727 0.981127 19.0727C0.972065 19.0727 0.968442 19.0835 0.972476 19.0986C0.976284 19.1129 0.973365 19.1245 0.965961 19.1245C0.95857 19.1245 0.95581 19.1329 0.95983 19.1431C0.963851 19.1534 0.962445 19.1636 0.956726 19.1658C0.950994 19.1681 0.927043 19.2457 0.903504 19.3384C0.879965 19.4311 0.809508 19.6966 0.746945 19.9283C0.684382 20.1601 0.625959 20.3818 0.617122 20.421C0.608298 20.4602 0.560663 20.6411 0.511263 20.8229C0.461863 21.0047 0.389892 21.2731 0.35132 21.4193C0.312761 21.5655 0.259247 21.7667 0.232417 21.8666C0.126625 22.2603 0.0398066 22.6021 0.0398066 22.625C0.0398066 22.6383 0.0308501 22.6578 0.0199033 22.6685C0.00895649 22.6792 0 22.7025 0 22.7202C0 22.7481 0.00851862 22.7544 0.0630272 22.7663C0.0976987 22.774 0.215619 22.8037 0.325087 22.8324C0.434556 22.8611 0.616671 22.907 0.729788 22.9345C0.842905 22.962 1.15638 23.0412 1.4264 23.1106C1.69643 23.1799 2.00095 23.2578 2.10312 23.2836C2.20529 23.3093 2.29187 23.3342 2.29552 23.3389C2.29916 23.3436 2.42456 23.3782 2.57416 23.4159C2.72377 23.4536 3.00441 23.5249 3.1978 23.5744C3.39119 23.6238 3.63003 23.6845 3.72855 23.7093C3.82708 23.734 4.02412 23.7835 4.16643 23.8192C4.30874 23.855 4.4706 23.8959 4.52613 23.9102L4.62708 23.9363L4.57072 24.1136C4.53971 24.2112 4.45948 24.4631 4.39245 24.6734C4.3254 24.8838 4.24949 25.123 4.22377 25.205C4.06885 25.6988 4.00205 25.8996 3.9902 25.907C3.98283 25.9116 3.98046 25.9248 3.98495 25.9362C3.98943 25.9476 3.98696 25.9569 3.97947 25.9569C3.97196 25.9569 3.96952 25.9628 3.97403 25.9699C3.97854 25.977 3.97521 25.9829 3.96662 25.9829C3.95756 25.9829 3.95394 25.9937 3.95797 26.0088C3.96178 26.0231 3.96049 26.0347 3.95511 26.0347C3.94972 26.0347 3.92565 26.0974 3.90163 26.1741C3.87762 26.2508 3.82928 26.4039 3.79421 26.5144C3.64662 26.9796 3.60586 27.1084 3.50296 27.4349C3.44341 27.6239 3.37427 27.8398 3.34932 27.9146C3.32437 27.9895 3.30395 28.0629 3.30395 28.0776C3.30395 28.101 3.32909 28.1118 3.49683 28.1606C3.60291 28.1915 3.69234 28.221 3.69555 28.226C3.69877 28.2311 3.74185 28.2474 3.79128 28.2621C3.8407 28.2769 3.99758 28.3249 4.13989 28.3688C4.2822 28.4126 4.49715 28.4778 4.61757 28.5135C4.81991 28.5736 5.20429 28.6901 5.65918 28.8292C5.76135 28.8604 6.039 28.9449 6.27618 29.0169C6.8426 29.1889 6.87758 29.1999 6.89318 29.2111C6.90048 29.2164 6.98706 29.2452 7.08558 29.2753C7.1841 29.3053 7.31845 29.3465 7.38413 29.3669C7.76778 29.4859 8.16579 29.6 8.19733 29.6C8.23748 29.6 8.23811 29.5984 8.42635 28.9972C8.4643 28.8759 8.52114 28.698 8.55267 28.6017C8.58419 28.5055 8.63181 28.3567 8.65848 28.2711C8.78198 27.8749 8.81796 27.7612 8.89653 27.5192C8.94281 27.3766 8.98467 27.2409 8.98954 27.2178C8.99441 27.1946 9.00426 27.1756 9.0114 27.1756C9.01855 27.1756 9.02071 27.1698 9.0162 27.1627C9.01169 27.1555 9.01502 27.1497 9.0236 27.1497C9.03267 27.1497 9.03629 27.1388 9.03226 27.1238C9.02845 27.1095 9.03137 27.0978 9.03877 27.0978C9.04616 27.0978 9.04877 27.0891 9.04457 27.0784C9.04038 27.0677 9.04336 27.0589 9.0512 27.0589C9.05906 27.0589 9.06204 27.0502 9.05784 27.0395C9.05364 27.0288 9.05668 27.02 9.0646 27.02C9.07253 27.02 9.07588 27.0084 9.07206 26.9941C9.06825 26.9799 9.07089 26.9682 9.07794 26.9682C9.08499 26.9682 9.08706 26.9624 9.08255 26.9552C9.07803 26.9481 9.08136 26.9423 9.08995 26.9423C9.09901 26.9423 9.10263 26.9314 9.0986 26.9163C9.09479 26.9021 9.09771 26.8904 9.10512 26.8904C9.11251 26.8904 9.11512 26.8816 9.11091 26.871C9.10672 26.8603 9.10825 26.8515 9.11432 26.8515C9.1204 26.8515 9.14184 26.7946 9.16199 26.7251C9.18213 26.6556 9.2183 26.5403 9.24238 26.469C9.26645 26.3977 9.31703 26.2402 9.35478 26.119C9.39253 25.9978 9.46811 25.7586 9.52274 25.5874C9.77944 24.7832 9.82369 24.6441 9.86693 24.5049C9.9707 24.171 10.0091 24.0572 10.0206 24.0499C10.0272 24.0457 10.0309 24.034 10.0287 24.024C10.0264 24.014 10.032 24.0072 10.041 24.0089C10.0625 24.0131 10.5248 24.3099 10.5421 24.3306C10.5565 24.3478 10.8449 24.5308 10.8577 24.5308C10.8619 24.5308 10.93 24.5727 11.009 24.6239C11.279 24.799 11.8822 25.1826 11.9471 25.2204C12.0123 25.2585 12.068 25.2646 12.068 25.2337C12.068 25.2245 12.0745 25.2128 12.0824 25.2078C12.105 25.1932 12.6372 24.4039 12.6831 24.3169C12.7153 24.2558 13.0054 23.8259 13.0252 23.81C13.0349 23.8022 13.0391 23.7921 13.0346 23.7876C13.03 23.7831 13.036 23.7758 13.048 23.7713C13.0599 23.7668 13.0664 23.7579 13.0623 23.7515C13.0582 23.745 13.0642 23.7363 13.0756 23.732C13.0869 23.7278 13.0929 23.719 13.0888 23.7126C13.0848 23.7062 13.0908 23.6974 13.1022 23.6931C13.1136 23.6888 13.1229 23.6772 13.1229 23.6673C13.1229 23.6573 13.1289 23.6492 13.1362 23.6492C13.1435 23.6492 13.1495 23.6409 13.1495 23.6308C13.1495 23.6207 13.1539 23.6105 13.1594 23.6082C13.17 23.6036 13.3291 23.367 13.3371 23.3439C13.342 23.3299 13.4094 23.2286 13.7446 22.7321C13.8494 22.5769 13.953 22.4194 13.9748 22.3819C13.9966 22.3445 14.0202 22.3138 14.0272 22.3138C14.0343 22.3138 14.0363 22.308 14.0318 22.3008C14.0272 22.2936 14.0328 22.2842 14.0442 22.28C14.0556 22.2757 14.0616 22.267 14.0575 22.2606C14.0535 22.2542 14.0568 22.249 14.065 22.249C14.0732 22.249 14.0761 22.2432 14.0716 22.236C14.067 22.2288 14.0726 22.2194 14.084 22.2152C14.0954 22.2109 14.1013 22.2021 14.0973 22.1957C14.0932 22.1893 14.0992 22.1805 14.1105 22.1763C14.1219 22.172 14.1279 22.1632 14.1238 22.1568C14.1197 22.1504 14.1257 22.1416 14.1372 22.1373C14.1485 22.1331 14.1579 22.1244 14.1579 22.1181C14.1579 22.1119 14.1667 22.0964 14.1775 22.0839C14.2006 22.057 14.6635 21.3632 14.7749 21.1886C14.8622 21.0517 15.0253 20.8154 15.0348 20.8121C15.0415 20.8097 15.0437 20.8023 15.0395 20.7958C15.0354 20.7892 15.0413 20.7803 15.0526 20.7761C15.064 20.7718 15.07 20.7631 15.0659 20.7566C15.0618 20.7502 15.0678 20.7414 15.0792 20.7372C15.0906 20.7329 15.1 20.7212 15.1 20.7113C15.1 20.7014 15.106 20.6933 15.1132 20.6933C15.1205 20.6933 15.1265 20.6845 15.1265 20.6738C15.1265 20.6631 15.1325 20.6544 15.1398 20.6544C15.1471 20.6544 15.1531 20.6461 15.1531 20.636C15.1531 20.6259 15.158 20.6157 15.164 20.6133C15.1755 20.6088 15.299 20.4276 15.299 20.4153C15.299 20.4059 15.6682 19.8498 15.6919 19.8236C15.7226 19.7896 15.7139 19.7644 15.6257 19.6315C15.4058 19.3004 15.1545 18.7228 15.0795 18.3758C15.0667 18.317 15.0523 18.2689 15.0473 18.2689C15.0423 18.2689 15.0409 18.2514 15.0441 18.23C15.0473 18.2084 15.0439 18.1911 15.0364 18.1911C15.0289 18.1911 15.026 18.1794 15.0298 18.1651C15.0336 18.1509 15.0312 18.1392 15.0244 18.1392C14.9944 18.1392 14.9407 17.653 14.9408 17.3818C14.9409 17.1126 14.9833 16.7124 15.0207 16.6288C15.0396 16.5865 15.0626 16.4552 15.0537 16.441C15.0491 16.4338 15.0523 16.4279 15.0608 16.4279C15.0693 16.4279 15.0728 16.4191 15.0686 16.4084C15.0644 16.3977 15.0675 16.389 15.0754 16.389C15.0836 16.389 15.0871 16.375 15.0835 16.3566C15.08 16.3387 15.0829 16.3241 15.09 16.3241C15.097 16.3241 15.0994 16.3154 15.0952 16.3047C15.091 16.294 15.094 16.2852 15.1019 16.2852C15.1099 16.2852 15.1132 16.2736 15.1094 16.2593C15.1056 16.2451 15.1086 16.2334 15.116 16.2334C15.1235 16.2334 15.1265 16.2217 15.1227 16.2075C15.1189 16.1932 15.1207 16.1815 15.1268 16.1815C15.1329 16.1815 15.1478 16.148 15.16 16.107C15.2063 15.9506 15.3466 15.6256 15.4609 15.4101C15.5451 15.2512 15.7235 14.9851 15.8518 14.8267C16.0025 14.6408 16.331 14.3224 16.5067 14.1918C16.8612 13.9285 17.2712 13.72 17.6713 13.5995C17.7203 13.5848 17.7634 13.5686 17.767 13.5636C17.7889 13.5335 18.2011 13.4501 18.5101 13.4133C18.7872 13.3802 19.3793 13.3828 19.666 13.4183C19.9452 13.4529 20.3677 13.5399 20.3677 13.5627C20.3677 13.5681 20.3961 13.5795 20.4307 13.588C20.5248 13.6111 20.8891 13.7523 21.0179 13.8156C21.3945 14.0006 21.6559 14.1847 21.97 14.4859C22.3165 14.8183 22.5707 15.1705 22.7586 15.5786C22.8078 15.6856 22.8563 15.7748 22.8663 15.7769C22.8792 15.7796 22.8928 15.7428 22.9141 15.6473C22.9305 15.5739 22.9584 15.4542 22.9761 15.3812C22.9938 15.3083 23.0082 15.2368 23.0082 15.2224C23.0082 15.208 23.0148 15.1962 23.0229 15.1962C23.031 15.1962 23.0342 15.1875 23.03 15.1768C23.0258 15.1661 23.0288 15.1573 23.0367 15.1573C23.0449 15.1573 23.0484 15.1434 23.0448 15.1249C23.0413 15.1071 23.0443 15.0925 23.0514 15.0925C23.0586 15.0925 23.0613 15.0808 23.0575 15.0666C23.0536 15.0523 23.0566 15.0406 23.0641 15.0406C23.0716 15.0406 23.0745 15.029 23.0707 15.0147C23.0669 15.0004 23.0699 14.9888 23.0774 14.9888C23.0848 14.9888 23.0881 14.9742 23.0846 14.9564C23.0811 14.9385 23.0841 14.924 23.0912 14.924C23.0984 14.924 23.1011 14.9123 23.0973 14.898C23.0935 14.8838 23.0949 14.8721 23.1005 14.8721C23.1061 14.8721 23.1174 14.8415 23.1256 14.804C23.173 14.5875 23.2234 14.3629 23.24 14.2952C23.2505 14.2524 23.2926 14.0715 23.3336 13.8933C23.3747 13.715 23.4227 13.5079 23.4403 13.433C23.5565 12.9398 23.8411 11.7041 23.8643 11.592C23.8739 11.5457 23.8937 11.4611 23.9083 11.404C23.9464 11.2551 24.0008 11.0232 24.0109 10.9665C24.0157 10.9397 24.0256 10.9179 24.033 10.9179C24.0403 10.9179 24.0432 10.9062 24.0394 10.8919C24.0355 10.8777 24.0385 10.866 24.046 10.866C24.0535 10.866 24.0567 10.8514 24.0532 10.8336C24.0497 10.8158 24.0518 10.8012 24.0577 10.8012C24.0637 10.8012 24.0723 10.7793 24.0769 10.7526C24.0875 10.6913 24.15 10.4146 24.2547 9.96494C24.3961 9.35804 24.5604 8.64726 24.5888 8.51938C24.6039 8.45164 24.6304 8.33787 24.6477 8.26656C24.7136 7.99482 24.7633 7.7829 24.7862 7.67667C24.7992 7.61606 24.8502 7.39728 24.8994 7.19049C24.9486 6.9837 24.9952 6.78243 25.0028 6.74321C25.0105 6.70399 25.0225 6.66812 25.0295 6.66349C25.0365 6.65886 25.0386 6.64573 25.0341 6.63432C25.0296 6.6229 25.0324 6.61356 25.0403 6.61356C25.0485 6.61356 25.052 6.59961 25.0484 6.58115C25.0449 6.56332 25.0479 6.54874 25.055 6.54874C25.0622 6.54874 25.0649 6.53707 25.0611 6.52281C25.0572 6.50855 25.0602 6.49688 25.0677 6.49688C25.0752 6.49688 25.0784 6.48229 25.0749 6.46447C25.0714 6.44664 25.0744 6.43206 25.0816 6.43206C25.0887 6.43206 25.0914 6.42039 25.0876 6.40613C25.0838 6.39186 25.0868 6.3802 25.0942 6.3802C25.1017 6.3802 25.1047 6.36853 25.1009 6.35427C25.0971 6.34001 25.1 6.32834 25.1075 6.32834C25.115 6.32834 25.1182 6.31375 25.1147 6.29593C25.1112 6.2781 25.1131 6.26351 25.1189 6.26351C25.1247 6.26351 25.1361 6.22997 25.1443 6.18897C25.1596 6.11225 25.1715 6.06119 25.2312 5.81677C25.2704 5.65648 25.2689 5.65177 25.1737 5.63541C25.1296 5.62784 24.5276 5.49618 24.0764 5.39543C23.9815 5.37425 23.7546 5.32413 23.5722 5.28407C23.3897 5.24399 23.127 5.1857 22.9883 5.15454C22.8497 5.12337 22.6138 5.07094 22.4642 5.03804C22.3146 5.00512 22.022 4.94035 21.814 4.89408C21.606 4.84782 21.3821 4.79827 21.3164 4.78398C21.2508 4.76969 21.1851 4.7528 21.1705 4.74643C21.1283 4.72806 20.2861 4.5392 20.2464 4.5392C20.2337 4.5392 20.2201 4.5443 20.2162 4.55052C20.2122 4.55675 20.1912 4.64279 20.1695 4.74175C20.1477 4.8407 20.1084 5.01209 20.0821 5.12262C20.0559 5.23314 20.031 5.34253 20.0268 5.36571C20.0227 5.38889 20.0134 5.40784 20.0062 5.40784C19.999 5.40784 19.996 5.42243 19.9994 5.44025C20.0029 5.45808 20 5.47267 19.9928 5.47267C19.9857 5.47267 19.983 5.48433 19.9868 5.49859C19.9906 5.51286 19.989 5.52452 19.9832 5.52452C19.9774 5.52452 19.9685 5.54641 19.9636 5.57314C19.9586 5.59989 19.9165 5.78512 19.87 5.98477C19.8236 6.18443 19.7837 6.36137 19.7814 6.37798C19.7776 6.40587 19.7548 6.394 19.483 6.2224C19.0059 5.92109 18.8974 5.85535 18.871 5.85125C18.8512 5.84819 18.7859 5.93698 18.5619 6.27172C18.4057 6.50511 18.2755 6.70231 18.2726 6.70992C18.2587 6.74614 18.0281 7.08029 18.017 7.08029C18.01 7.08029 18.008 7.08616 18.0125 7.09335C18.0171 7.10053 18.0115 7.10989 18.0001 7.11416C17.9888 7.11842 17.9828 7.12712 17.9868 7.13351C17.9909 7.13989 17.9875 7.14511 17.9793 7.14511C17.9712 7.14511 17.9682 7.15099 17.9727 7.15817C17.9773 7.16535 17.9717 7.17471 17.9603 7.17898C17.949 7.18324 17.943 7.192 17.9471 7.19843C17.9511 7.20486 17.9451 7.21362 17.9337 7.2179C17.9223 7.22218 17.913 7.23381 17.913 7.24374C17.913 7.25367 17.907 7.2618 17.8997 7.2618C17.8924 7.2618 17.8864 7.27006 17.8864 7.28017C17.8864 7.29027 17.882 7.30047 17.8765 7.30286C17.8655 7.30762 17.6488 7.62502 17.6213 7.67667C17.5973 7.72162 17.3201 8.13921 17.0041 8.60637C16.6096 9.18943 16.3907 9.51706 16.3517 9.58248C16.2725 9.71561 16.0107 10.1011 15.9995 10.1011C15.9929 10.1011 15.9911 10.1069 15.9957 10.1141C16.0002 10.1213 15.9946 10.1307 15.9833 10.1349C15.9719 10.1392 15.9659 10.148 15.97 10.1544C15.9741 10.1608 15.9681 10.1696 15.9567 10.1738C15.9454 10.1781 15.9394 10.1868 15.9435 10.1933C15.9475 10.1997 15.9415 10.2085 15.9301 10.2128C15.9187 10.217 15.9094 10.2287 15.9094 10.2386C15.9094 10.2485 15.9035 10.2566 15.8964 10.2566C15.8892 10.2566 15.8796 10.2713 15.875 10.2892C15.8704 10.3071 15.8598 10.3261 15.8515 10.3314C15.8344 10.3422 15.6665 10.5889 15.654 10.6215C15.6496 10.6333 15.6029 10.7062 15.5503 10.7836C15.358 11.0665 15.0248 11.5732 15.0165 11.5953C15.0118 11.6077 15.0014 11.6179 14.9935 11.6179C14.9855 11.6179 14.9827 11.6238 14.9872 11.631C14.9918 11.6382 14.9862 11.6475 14.9748 11.6518C14.9635 11.6561 14.9572 11.6644 14.961 11.6704C14.9648 11.6763 14.9573 11.6872 14.9443 11.6945C14.9314 11.7019 14.9268 11.7082 14.9341 11.7085C14.9414 11.7088 14.9391 11.7142 14.9291 11.7204C14.9075 11.7338 14.3569 12.5528 14.3569 12.5715C14.3569 12.5873 14.0069 13.0959 13.996 13.0959C13.9893 13.0959 13.9875 13.1018 13.9921 13.109C13.9966 13.1162 13.991 13.1255 13.9797 13.1298C13.9683 13.1341 13.9623 13.1428 13.9664 13.1492C13.9705 13.1557 13.9645 13.1644 13.9531 13.1687C13.9418 13.1729 13.9358 13.1816 13.9398 13.188C13.9438 13.1944 13.9408 13.1996 13.9331 13.1996C13.9254 13.1996 13.919 13.2084 13.919 13.2191C13.919 13.2298 13.9131 13.2385 13.9058 13.2385C13.8985 13.2385 13.8925 13.2473 13.8925 13.258C13.8925 13.2687 13.8865 13.2774 13.8792 13.2774C13.8719 13.2774 13.866 13.2857 13.866 13.2958C13.866 13.3059 13.8612 13.3161 13.8553 13.3185C13.8453 13.3225 13.6935 13.5449 13.6935 13.5555C13.6935 13.5582 13.622 13.6674 13.5347 13.7981C13.4473 13.9289 13.3213 14.119 13.2546 14.2206C13.188 14.3222 13.1318 14.4054 13.1299 14.4054C13.128 14.4054 13.1796 14.2406 13.2447 14.0391C13.3098 13.8377 13.3773 13.6262 13.3949 13.5691C13.4399 13.4225 13.5377 13.1142 13.621 12.8561C13.6602 12.7349 13.7289 12.519 13.7737 12.3764C13.8835 12.0272 13.9144 11.9297 13.9302 11.8837C13.9375 11.8623 13.9562 11.804 13.9718 11.7541C13.9873 11.7042 14.009 11.6443 14.0199 11.621C14.0309 11.5978 14.0362 11.573 14.0317 11.5659C14.0273 11.5589 14.0306 11.5531 14.0391 11.5531C14.0476 11.5531 14.0511 11.5444 14.0469 11.5337C14.0427 11.523 14.0458 11.5142 14.0537 11.5142C14.0616 11.5142 14.065 11.5026 14.0612 11.4883C14.0574 11.474 14.06 11.4624 14.067 11.4624C14.0741 11.4624 14.0762 11.4565 14.0716 11.4494C14.0671 11.4423 14.0705 11.4364 14.079 11.4364C14.0881 11.4364 14.0917 11.4256 14.0877 11.4105C14.0839 11.3962 14.0865 11.3846 14.0936 11.3846C14.1006 11.3846 14.1027 11.3787 14.0982 11.3716C14.0937 11.3645 14.097 11.3587 14.1056 11.3587C14.1146 11.3587 14.1183 11.3478 14.1142 11.3327C14.1104 11.3185 14.1133 11.3068 14.1208 11.3068C14.1281 11.3068 14.1309 11.2984 14.1269 11.2882C14.1229 11.2779 14.1243 11.2677 14.1302 11.2655C14.136 11.2633 14.1631 11.1914 14.1903 11.1058C14.2176 11.0203 14.2597 10.889 14.2839 10.8141C14.308 10.7393 14.3437 10.6255 14.3631 10.5613C14.3826 10.4971 14.4243 10.3659 14.4558 10.2696C14.4874 10.1734 14.5502 9.97499 14.5953 9.82881C14.6405 9.68264 14.6975 9.50178 14.722 9.42691C15.0008 8.57415 15.0013 8.57274 14.9793 8.55264C14.9691 8.54323 14.7965 8.48568 14.5958 8.42473C14.3951 8.3638 14.0846 8.26931 13.9058 8.21476C13.727 8.16021 13.4911 8.08892 13.3817 8.05634C12.9714 7.93421 12.1727 7.68722 12.1344 7.67063C12.1125 7.66115 11.8796 7.58796 11.6169 7.50801C11.3542 7.42804 10.972 7.31114 10.7677 7.24821C10.5634 7.18529 10.3314 7.11554 10.2523 7.09323C10.1732 7.07091 10.1009 7.04979 10.0916 7.04631C10.0801 7.04201 10.0632 7.07575 10.0393 7.15088C10.0198 7.21188 9.99739 7.2618 9.98948 7.2618C9.98158 7.2618 9.97822 7.27347 9.98204 7.28773C9.98585 7.30199 9.98293 7.31366 9.97553 7.31366C9.96814 7.31366 9.96552 7.32241 9.96973 7.3331C9.97392 7.3438 9.97094 7.35255 9.96309 7.35255C9.95524 7.35255 9.95211 7.36093 9.95613 7.37116C9.96015 7.3814 9.95909 7.3916 9.95378 7.39384C9.94846 7.39609 9.91557 7.49127 9.88067 7.60536C9.82051 7.80201 9.71993 8.11606 9.60663 8.46104C9.57852 8.5466 9.54583 8.65162 9.53397 8.6944C9.52212 8.73718 9.45077 8.96472 9.37542 9.20002C9.30008 9.43533 9.18915 9.78246 9.12892 9.97143C9.06869 10.1604 9.01426 10.3214 9.00796 10.3291C9.00167 10.3369 9.00045 10.3471 9.00525 10.3518C9.01006 10.3565 9.00638 10.3604 8.99709 10.3604C8.98779 10.3604 8.98348 10.3687 8.9875 10.379C8.99152 10.3892 8.99043 10.3994 8.98509 10.4017C8.97974 10.4039 8.95856 10.4612 8.93803 10.5289C8.89094 10.6843 8.80073 10.9717 8.77617 11.0447C8.76587 11.0753 8.75746 11.1088 8.75746 11.1193C8.75746 11.1358 8.8863 11.1383 9.74334 11.1383H10.7292L10.8109 11.3424C10.8558 11.4548 10.9117 11.5991 10.9351 11.6633C10.9585 11.7275 10.9842 11.7843 10.9921 11.7895C11.0007 11.7952 11.0011 11.7992 10.9933 11.7995C10.9852 11.7997 10.9856 11.8036 10.9942 11.8094C11.0081 11.8186 11.0958 12.0311 11.2392 12.4023C11.31 12.5857 11.3538 12.6963 11.5648 13.2256C11.6287 13.386 11.6893 13.5406 11.6994 13.5691C11.7438 13.6945 11.8954 14.0622 11.9042 14.0659C11.9096 14.0681 11.9107 14.0783 11.9067 14.0886C11.9026 14.0988 11.9063 14.1072 11.9148 14.1072C11.9233 14.1072 11.9266 14.113 11.9221 14.1201C11.9176 14.1273 11.92 14.1331 11.9275 14.1331C11.935 14.1331 11.9377 14.1419 11.9335 14.1526C11.9293 14.1632 11.9328 14.172 11.9414 14.172C11.9499 14.172 11.9531 14.1778 11.9486 14.185C11.9441 14.1921 11.9466 14.1979 11.9541 14.1979C11.9616 14.1979 11.9643 14.2067 11.9601 14.2174C11.9559 14.2281 11.9594 14.2368 11.9679 14.2368C11.9764 14.2368 11.9797 14.2427 11.9752 14.2498C11.9706 14.2569 11.9731 14.2628 11.9806 14.2628C11.9881 14.2628 11.9908 14.2715 11.9866 14.2822C11.9824 14.2929 11.9854 14.3016 11.9932 14.3016C12.0011 14.3016 12.0041 14.3104 11.9999 14.3211C11.9957 14.3318 11.9979 14.3405 12.0048 14.3405C12.0117 14.3405 12.0328 14.3799 12.0516 14.4281C12.0704 14.4762 12.1142 14.5885 12.1487 14.6776C12.2541 14.949 12.2704 14.9905 12.3241 15.1249C12.3527 15.1962 12.3985 15.3129 12.426 15.3842C12.4535 15.4555 12.5049 15.5868 12.5402 15.6759C12.5756 15.765 12.6635 15.9867 12.7356 16.1686C12.8077 16.3504 12.8867 16.5531 12.9113 16.6191C12.9359 16.6851 12.961 16.739 12.9672 16.739C12.9734 16.739 12.9748 16.7448 12.9703 16.752C12.9658 16.7591 12.9683 16.7649 12.9758 16.7649C12.9833 16.7649 12.986 16.7737 12.9818 16.7844C12.9776 16.7951 12.9811 16.8038 12.9896 16.8038C12.9981 16.8038 13.0017 16.8092 12.9976 16.8157C12.9934 16.8222 12.9948 16.8295 13.0006 16.8319C13.0065 16.8343 13.0639 16.9704 13.1284 17.1344C13.1929 17.2984 13.3111 17.5989 13.3912 17.8021C13.4713 18.0053 13.5595 18.23 13.5873 18.3013C13.7686 18.7675 13.9002 19.0927 13.909 19.0965C13.9146 19.0989 13.9158 19.1061 13.9117 19.1127C13.9076 19.1192 13.9103 19.1245 13.9179 19.1245C13.9254 19.1245 13.928 19.1333 13.9239 19.144C13.9196 19.1547 13.9232 19.1634 13.9317 19.1634C13.9402 19.1634 13.9435 19.1693 13.939 19.1764C13.9344 19.1835 13.9369 19.1893 13.9444 19.1893C13.9519 19.1893 13.9546 19.1981 13.9504 19.2088C13.9462 19.2195 13.9497 19.2282 13.9582 19.2282C13.9667 19.2282 13.97 19.2341 13.9655 19.2412C13.961 19.2483 13.9634 19.2542 13.9709 19.2542C13.9784 19.2542 13.9811 19.2629 13.9769 19.2736C13.9727 19.2843 13.9763 19.2931 13.9848 19.2931C13.9933 19.2931 13.9965 19.2989 13.992 19.306C13.9875 19.3132 13.99 19.319 13.9975 19.319C14.005 19.319 14.0077 19.3277 14.0035 19.3384C13.9993 19.3491 14.0024 19.3579 14.0105 19.3579C14.0186 19.3579 14.0252 19.3639 14.0252 19.3713C14.0252 19.3787 14.0903 19.5493 14.1699 19.7505C14.2494 19.9517 14.3397 20.1805 14.3705 20.2589C14.4013 20.3374 14.4826 20.5445 14.5512 20.7192C14.6198 20.8939 14.6848 21.056 14.6956 21.0794C14.7361 21.1673 14.8552 21.1604 13.3452 21.1568L11.9752 21.1535L11.7363 20.4532C11.605 20.068 11.4945 19.7455 11.4907 19.7366C11.4854 19.7236 11.1177 19.7203 9.69944 19.7203C8.71794 19.7203 7.90678 19.7204 7.89688 19.7206C7.88674 19.7208 7.88207 19.729 7.88618 19.7395C7.8902 19.7498 7.88908 19.76 7.88367 19.7622C7.87237 19.7669 7.80377 19.9403 7.70863 20.2046C7.67221 20.3058 7.58337 20.549 7.51119 20.7451C7.43902 20.9412 7.37604 21.1148 7.37121 21.1308L7.36243 21.16H5.99646H4.63048L4.65017 21.114C4.67139 21.0643 4.78391 20.7875 4.87652 20.5571C4.90805 20.4787 4.94707 20.3781 4.96325 20.3335C4.97942 20.2889 4.99846 20.2525 5.00556 20.2525C5.01266 20.2525 5.01504 20.2437 5.01083 20.233C5.00664 20.2223 5.00933 20.2136 5.01683 20.2136C5.02434 20.2136 5.02678 20.2077 5.02227 20.2006C5.01776 20.1935 5.02103 20.1876 5.02954 20.1876C5.03805 20.1876 5.04157 20.1789 5.03737 20.1682C5.03318 20.1575 5.03587 20.1487 5.04337 20.1487C5.05088 20.1487 5.05332 20.1429 5.04881 20.1358C5.0443 20.1286 5.04757 20.1228 5.05608 20.1228C5.06458 20.1228 5.06811 20.1141 5.06391 20.1034C5.05971 20.0927 5.0627 20.0839 5.07054 20.0839C5.0784 20.0839 5.08138 20.0752 5.07718 20.0645C5.07298 20.0538 5.07568 20.045 5.08317 20.045C5.09068 20.045 5.09312 20.0392 5.08861 20.0321C5.0841 20.0249 5.08709 20.0191 5.09525 20.0191C5.10341 20.0191 5.10639 20.0133 5.10188 20.0061C5.09737 19.999 5.10065 19.9932 5.10915 19.9932C5.11766 19.9932 5.12133 19.9848 5.11731 19.9746C5.11329 19.9643 5.11494 19.9541 5.12098 19.9519C5.13209 19.9477 5.23721 19.6944 5.34051 19.4227C5.37169 19.3407 5.47767 19.0723 5.57603 18.8263C5.67438 18.5803 5.81039 18.239 5.87827 18.0679C5.94614 17.8968 6.00675 17.7548 6.01295 17.7524C6.01916 17.75 6.02086 17.7427 6.01673 17.7362C6.01261 17.7297 6.0162 17.7243 6.02471 17.7243C6.03321 17.7243 6.03674 17.7156 6.03253 17.7049C6.02834 17.6942 6.02975 17.6854 6.03565 17.6854C6.04157 17.6854 6.06281 17.6431 6.08286 17.5914C6.15832 17.3969 6.29701 17.0474 6.40312 16.7844C6.46353 16.6346 6.54584 16.4275 6.58603 16.3241C6.69578 16.0418 6.85846 15.6359 6.88041 15.5897C6.89108 15.5672 6.89982 15.5435 6.89982 15.5371C6.89982 15.5143 6.99564 15.2933 7.00905 15.2852C7.01652 15.2806 7.01853 15.2704 7.01352 15.2625C7.0085 15.2546 7.01107 15.2481 7.01923 15.2481C7.0274 15.2481 7.03038 15.2422 7.02587 15.2351C7.02136 15.228 7.02463 15.2221 7.03314 15.2221C7.04165 15.2221 7.04518 15.2134 7.04097 15.2027C7.03678 15.192 7.03947 15.1832 7.04697 15.1832C7.05448 15.1832 7.05692 15.1774 7.05241 15.1703C7.0479 15.1632 7.05117 15.1573 7.05968 15.1573C7.06818 15.1573 7.07171 15.1486 7.06751 15.1379C7.06331 15.1272 7.0663 15.1184 7.07414 15.1184C7.082 15.1184 7.08498 15.1097 7.08077 15.099C7.07658 15.0883 7.07928 15.0795 7.08677 15.0795C7.09428 15.0795 7.09672 15.0737 7.09221 15.0666C7.0877 15.0594 7.09098 15.0536 7.09948 15.0536C7.10799 15.0536 7.11167 15.0452 7.10765 15.035C7.10362 15.0248 7.10539 15.0146 7.11156 15.0123C7.12229 15.0084 7.16449 14.9056 7.42464 14.2498C7.48828 14.0893 7.56984 13.8852 7.60589 13.796C7.64194 13.7069 7.67927 13.6106 7.68884 13.5821C7.6984 13.5536 7.73583 13.4573 7.77203 13.3682C7.80822 13.2791 7.87554 13.1128 7.92161 12.9987C7.96769 12.8846 8.01191 12.787 8.01985 12.7817C8.0284 12.7761 8.02889 12.772 8.02104 12.7718C8.01374 12.7716 8.01486 12.767 8.02354 12.7616C8.03222 12.7562 8.0602 12.6732 8.08573 12.5771C8.11125 12.4809 8.157 12.309 8.18739 12.1949C8.27769 11.8557 8.30291 11.7598 8.33223 11.6439C8.36097 11.5302 8.3951 11.4044 8.46411 11.1577C8.48604 11.0793 8.54576 10.8546 8.59681 10.6586C8.64786 10.4625 8.70843 10.232 8.73141 10.1465C8.75441 10.0609 8.81085 9.84794 8.85687 9.67324C8.98297 9.19449 8.99537 9.15011 9.01012 9.12495C9.01761 9.11218 9.02019 9.09614 9.01587 9.08929C9.01154 9.08246 9.01502 9.07686 9.0236 9.07686C9.03267 9.07686 9.03629 9.066 9.03226 9.05093C9.02845 9.03667 9.03137 9.025 9.03877 9.025C9.04616 9.025 9.04877 9.01625 9.04457 9.00555C9.04038 8.99486 9.04341 8.98611 9.05134 8.98611C9.05926 8.98611 9.06269 8.97472 9.05897 8.9608C9.05524 8.94688 9.0563 8.93375 9.06132 8.93163C9.06634 8.9295 9.09641 8.82567 9.12815 8.70088C9.15988 8.5761 9.20626 8.40107 9.23122 8.31194C9.25618 8.22281 9.31844 7.98944 9.36956 7.79335C9.42069 7.59726 9.47368 7.39598 9.48731 7.34607C9.50094 7.29615 9.55431 7.09488 9.6059 6.89879C9.75021 6.35033 9.7775 6.24854 9.84572 6.00422C9.88056 5.87943 9.93116 5.68836 9.95815 5.57962C9.98515 5.47089 10.0133 5.38191 10.0208 5.38191C10.0283 5.38191 10.0312 5.37024 10.0274 5.35598C10.0236 5.34172 10.0266 5.33005 10.0341 5.33005C10.0415 5.33005 10.0445 5.31838 10.0407 5.30412C10.0369 5.28986 10.0399 5.27819 10.0473 5.27819C10.0548 5.27819 10.0578 5.26653 10.054 5.25226C10.0502 5.238 10.0531 5.22634 10.0606 5.22634C10.0681 5.22634 10.071 5.21467 10.0672 5.20041C10.0634 5.18614 10.0663 5.17448 10.0737 5.17448C10.0811 5.17448 10.0839 5.1661 10.0799 5.15587C10.0759 5.14563 10.0775 5.13543 10.0836 5.13318C10.0897 5.13094 10.1277 5.00075 10.1682 4.84388C10.2371 4.57683 10.3024 4.32953 10.4233 3.87704C10.4511 3.77313 10.4704 3.67944 10.4662 3.66883C10.4611 3.65579 10.3199 3.61482 10.0293 3.54204C9.16057 3.32444 8.94558 3.27019 8.75082 3.21942C8.64135 3.1909 8.4682 3.14662 8.36602 3.12104C7.78487 2.97552 7.10369 2.79825 7.09221 2.78955C7.08492 2.78401 7.06402 2.77661 7.04577 2.7731C7.02753 2.76958 6.8484 2.72456 6.64771 2.67304C5.95262 2.49459 5.5604 2.40002 5.51539 2.40002H5.47019L5.42917 2.55236ZM26.3477 5.31385C26.3446 5.3192 26.3114 5.41983 26.274 5.53749C26.0751 6.1634 26.0266 6.30963 26.0157 6.31716C26.009 6.32171 26.0077 6.33193 26.0127 6.33985C26.0177 6.34778 26.0149 6.35427 26.0064 6.35427C25.9979 6.35427 25.9943 6.36302 25.9985 6.37371C26.0027 6.38441 25.9997 6.39316 25.9919 6.39316C25.984 6.39316 25.9811 6.40191 25.9853 6.41261C25.9895 6.4233 25.9881 6.43206 25.9822 6.43206C25.9764 6.43206 25.9549 6.48893 25.9345 6.55846C25.8993 6.67801 25.8563 6.81424 25.6753 7.37848C25.5659 7.71967 25.2742 8.63969 25.217 8.82405C25.115 9.15233 25.0342 9.39513 25.0217 9.4107C25.0145 9.41962 25.0138 9.427 25.0202 9.4271C25.0265 9.42722 25.0248 9.43163 25.0163 9.43692C25.0078 9.44219 24.9851 9.49899 24.966 9.56312C24.9468 9.62725 24.9171 9.72639 24.8999 9.78344C24.8828 9.84048 24.818 10.0447 24.7559 10.2372C24.6938 10.4297 24.624 10.6485 24.6008 10.7234C24.5776 10.7983 24.5265 10.9587 24.4874 11.0799C24.4482 11.2011 24.3951 11.3674 24.3694 11.4494C24.1782 12.0592 24.0424 12.4748 24.0141 12.5365C23.9999 12.5675 23.9915 12.601 23.9954 12.611C23.9993 12.621 23.9961 12.6292 23.9883 12.6292C23.9804 12.6292 23.9775 12.6379 23.9817 12.6486C23.9859 12.6593 23.9829 12.6681 23.975 12.6681C23.9672 12.6681 23.9642 12.6768 23.9684 12.6875C23.9726 12.6982 23.9696 12.707 23.9618 12.707C23.9539 12.707 23.9509 12.7157 23.9551 12.7264C23.9593 12.7371 23.9563 12.7459 23.9485 12.7459C23.9406 12.7459 23.9376 12.7546 23.9419 12.7653C23.946 12.776 23.943 12.7848 23.9351 12.7848C23.9272 12.7848 23.9238 12.7964 23.9276 12.8107C23.9314 12.825 23.9285 12.8366 23.9211 12.8366C23.9137 12.8366 23.911 12.845 23.915 12.8552C23.919 12.8655 23.9177 12.8757 23.9122 12.8779C23.9067 12.8802 23.8528 13.0366 23.7925 13.2256C23.7322 13.4145 23.6241 13.7529 23.5523 13.9775C23.4805 14.2021 23.4028 14.4472 23.3796 14.522C23.3564 14.5969 23.2791 14.842 23.2079 15.0666C23.1367 15.2912 23.0677 15.5114 23.0545 15.556C23.0413 15.6006 23.0249 15.637 23.018 15.637C23.0111 15.637 23.0088 15.6458 23.013 15.6565C23.0172 15.6672 23.0142 15.6759 23.0064 15.6759C22.9985 15.6759 22.9956 15.6847 22.9998 15.6954C23.004 15.706 23.0009 15.7148 22.993 15.7148C22.9851 15.7148 22.9817 15.7265 22.9855 15.7407C22.9893 15.755 22.9864 15.7667 22.979 15.7667C22.9716 15.7667 22.969 15.7754 22.9732 15.7861C22.9774 15.7968 22.9744 15.8056 22.9666 15.8056C22.9587 15.8056 22.9558 15.8143 22.96 15.825C22.9642 15.8357 22.9612 15.8444 22.9533 15.8444C22.9455 15.8444 22.9425 15.8532 22.9467 15.8639C22.9509 15.8746 22.9479 15.8833 22.9401 15.8833C22.9322 15.8833 22.9292 15.8921 22.9334 15.9028C22.9376 15.9135 22.9353 15.9222 22.9282 15.9222C22.9095 15.9222 22.9125 15.9565 22.933 15.9765C22.9427 15.986 22.9482 16.001 22.9452 16.0099C22.9421 16.0187 22.9465 16.026 22.9548 16.026C22.9632 16.026 22.9663 16.0318 22.9618 16.0389C22.9573 16.046 22.9593 16.0519 22.9664 16.0519C22.9734 16.0519 22.9761 16.0636 22.9723 16.0778C22.9684 16.0921 22.9718 16.1037 22.9797 16.1037C22.9876 16.1037 22.9907 16.1125 22.9865 16.1232C22.9823 16.1339 22.9849 16.1426 22.9923 16.1426C22.9997 16.1426 23.0026 16.1543 22.9988 16.1686C22.9948 16.1836 22.9984 16.1945 23.0075 16.1945C23.016 16.1945 23.019 16.201 23.0139 16.2089C23.0089 16.2168 23.0102 16.2271 23.0168 16.2316C23.0454 16.2513 23.1114 16.534 23.1624 16.8557C23.196 17.067 23.1963 17.6911 23.163 17.9058C23.1367 18.0749 23.1048 18.2437 23.0882 18.3013C23.0821 18.3227 23.0666 18.3854 23.0539 18.4406C23.0412 18.4959 23.0251 18.5411 23.0181 18.5411C23.0111 18.5411 23.0088 18.5499 23.013 18.5606C23.0172 18.5713 23.0142 18.58 23.0064 18.58C22.9985 18.58 22.9956 18.5888 22.9998 18.5995C23.004 18.6101 23.0009 18.6189 22.993 18.6189C22.9851 18.6189 22.9817 18.6306 22.9855 18.6448C22.9893 18.6591 22.9864 18.6708 22.979 18.6708C22.9716 18.6708 22.969 18.6795 22.9732 18.6902C22.9774 18.7009 22.9744 18.7097 22.9666 18.7097C22.9587 18.7097 22.9558 18.7184 22.96 18.7291C22.9642 18.7398 22.9615 18.7485 22.954 18.7485C22.9464 18.7485 22.944 18.7544 22.9485 18.7615C22.953 18.7686 22.9498 18.7745 22.9412 18.7745C22.9327 18.7745 22.9292 18.7832 22.9334 18.7939C22.9376 18.8046 22.9346 18.8134 22.9268 18.8134C22.9189 18.8134 22.9159 18.8221 22.9202 18.8328C22.9243 18.8435 22.9232 18.8523 22.9175 18.8523C22.9119 18.8523 22.8876 18.9004 22.8635 18.9592C22.7951 19.1261 22.6022 19.4933 22.5094 19.633C22.3373 19.8922 22.1464 20.1193 21.9733 20.2711C21.9258 20.3127 21.8691 20.3656 21.8472 20.3888C21.7011 20.5431 21.3105 20.8089 21.0223 20.9501C20.9335 20.9936 20.6147 21.1183 20.4871 21.1594C19.8214 21.3739 18.9828 21.427 18.2349 21.3021C17.6368 21.2022 17.0431 20.9621 16.5997 20.6409C16.541 20.5984 16.4856 20.5636 16.4765 20.5636C16.4575 20.5636 16.4326 20.6632 16.2349 21.5295C16.1877 21.7363 16.1276 21.9959 16.1014 22.1064C16.0752 22.2169 16.0469 22.3424 16.0387 22.3852C16.0304 22.4279 16.018 22.4667 16.011 22.4714C16.0041 22.476 16.0021 22.4891 16.0065 22.5005C16.011 22.5119 16.0083 22.5213 16.0004 22.5213C15.9926 22.5213 15.9896 22.53 15.9938 22.5407C15.998 22.5514 15.995 22.5602 15.987 22.5602C15.9788 22.5602 15.9754 22.5741 15.979 22.5926C15.9825 22.6104 15.9795 22.625 15.9723 22.625C15.9652 22.625 15.9625 22.6367 15.9663 22.6509C15.9701 22.6652 15.9671 22.6769 15.9597 22.6769C15.9522 22.6769 15.9489 22.6914 15.9524 22.7093C15.9559 22.7271 15.9529 22.7417 15.9458 22.7417C15.9387 22.7417 15.9357 22.7563 15.9392 22.7741C15.9427 22.7919 15.9397 22.8065 15.9327 22.8065C15.9256 22.8065 15.9231 22.8149 15.9271 22.8251C15.9311 22.8354 15.9301 22.8456 15.9248 22.8478C15.9115 22.8534 15.8116 23.2821 15.8106 23.3375C15.8099 23.3783 15.814 23.3831 15.8563 23.3923C16.0595 23.4366 16.8677 23.6154 16.9576 23.636C17.0816 23.6644 17.4453 23.7444 17.694 23.7979C17.7816 23.8168 17.9548 23.8552 18.0788 23.8832C18.2029 23.9113 18.394 23.9545 18.5034 23.9793C18.6129 24.0041 18.7861 24.0418 18.8882 24.0632C18.9904 24.0845 19.2711 24.1465 19.5119 24.2009C19.7527 24.2552 19.9751 24.3029 20.0061 24.3067C20.0372 24.3106 20.0625 24.3184 20.0625 24.3241C20.0625 24.3298 20.0958 24.3418 20.1364 24.3506C20.2063 24.3659 20.2098 24.3686 20.202 24.4002C20.1803 24.4889 20.0154 24.9791 20.0048 24.9864C19.9982 24.9909 19.9969 25.0011 20.0019 25.0091C20.0069 25.017 20.0041 25.0235 19.9956 25.0235C19.9871 25.0235 19.9834 25.0319 19.9874 25.0421C19.9914 25.0523 19.9904 25.0625 19.9851 25.0648C19.9798 25.067 19.9238 25.2322 19.8607 25.4319C19.7977 25.6315 19.7133 25.897 19.6733 26.0218C19.4862 26.6058 19.3991 26.8882 19.3991 26.911C19.3991 26.9319 19.4416 26.9486 19.6744 27.0186C20.239 27.1884 20.4143 27.2434 20.4208 27.2525C20.4272 27.2616 20.5207 27.2914 20.7724 27.3646C20.8381 27.3838 21.059 27.4508 21.2634 27.5136C21.4677 27.5764 21.7036 27.648 21.7875 27.6728C21.8714 27.6975 22.1043 27.7687 22.305 27.8309C22.5057 27.8931 22.7565 27.9688 22.8623 27.9991C23.1275 28.0752 23.5707 28.2149 23.5788 28.225C23.5824 28.2296 23.6601 28.2553 23.7513 28.2822C23.8425 28.3091 24.0016 28.357 24.1049 28.3886C24.2081 28.4203 24.3007 28.4461 24.3106 28.446C24.3221 28.4459 24.347 28.3845 24.3803 28.2743C24.4373 28.0854 24.4338 28.0966 24.5405 27.7655C24.5819 27.6372 24.6361 27.468 24.661 27.3895C24.814 26.9077 24.8743 26.7192 24.9326 26.5403C24.9686 26.4298 25.0019 26.3204 25.0066 26.2973C25.0113 26.2741 25.021 26.2551 25.0282 26.2551C25.0353 26.2551 25.0378 26.2464 25.0336 26.2357C25.0294 26.225 25.0324 26.2162 25.0402 26.2162C25.0481 26.2162 25.051 26.2075 25.0468 26.1968C25.0426 26.1861 25.0456 26.1773 25.0535 26.1773C25.0613 26.1773 25.0643 26.1686 25.0601 26.1579C25.0559 26.1472 25.0589 26.1384 25.0667 26.1384C25.0746 26.1384 25.0776 26.1297 25.0734 26.119C25.0692 26.1083 25.0722 26.0995 25.0801 26.0995C25.0881 26.0995 25.0914 26.0879 25.0876 26.0736C25.0838 26.0594 25.0867 26.0477 25.0941 26.0477C25.1015 26.0477 25.1041 26.0389 25.0999 26.0282C25.0957 26.0175 25.0987 26.0088 25.1065 26.0088C25.1144 26.0088 25.1174 26 25.1132 25.9893C25.109 25.9787 25.112 25.9699 25.1198 25.9699C25.1277 25.9699 25.1307 25.9612 25.1264 25.9505C25.1223 25.9398 25.1253 25.931 25.1332 25.931C25.1411 25.931 25.1446 25.9196 25.1408 25.9057C25.1371 25.8918 25.1389 25.8787 25.1448 25.8765C25.1543 25.8731 25.2014 25.7304 25.3857 25.1466C25.415 25.0539 25.4617 24.9081 25.4894 24.8225C25.5172 24.737 25.5639 24.5911 25.5931 24.4984C25.6224 24.4057 25.6924 24.184 25.7487 24.0057C25.8049 23.8275 25.8562 23.6761 25.8627 23.6693C25.8701 23.6615 26.0081 23.6726 26.2359 23.6993C26.4348 23.7226 26.699 23.7529 26.823 23.7666C26.9471 23.7803 27.1232 23.8004 27.2145 23.8111C27.3057 23.8219 27.4818 23.8423 27.6059 23.8565C27.73 23.8706 27.8703 23.888 27.9177 23.8951C27.9652 23.9022 28.0667 23.9142 28.1433 23.9219C28.2199 23.9295 28.408 23.9503 28.5613 23.968C28.7145 23.9857 28.9145 24.0086 29.0058 24.0188C29.6449 24.0908 29.7722 24.1054 29.908 24.1219C30.1247 24.1482 30.2265 24.1581 30.2267 24.1529C30.2275 24.139 30.2552 23.9055 30.2727 23.7659C30.2839 23.6768 30.2989 23.5513 30.306 23.4872C30.3183 23.3765 30.328 23.2986 30.359 23.0593C30.3664 23.0023 30.3938 22.7747 30.42 22.5537C30.4825 22.0257 30.4993 21.886 30.5234 21.6915C30.5692 21.3224 30.611 20.9568 30.6111 20.9234C30.6112 20.9038 30.6054 20.8877 30.5982 20.8877C30.591 20.8877 30.55 20.9138 30.5071 20.9457C30.2969 21.1019 30.0422 21.1938 29.7341 21.2248C29.3874 21.2597 29.0082 21.1593 28.7138 20.9547C28.5158 20.8171 28.3079 20.5686 28.2203 20.3647C28.1694 20.2464 28.1175 20.097 28.1171 20.0677C28.1169 20.0552 28.112 20.045 28.1061 20.045C28.1003 20.045 28.098 20.0246 28.101 19.9996C28.1039 19.9747 28.101 19.9543 28.0943 19.9543C28.0877 19.9543 28.0847 19.9338 28.0877 19.9089C28.0907 19.8839 28.088 19.8635 28.0817 19.8635C28.0676 19.8635 28.0812 19.6216 28.1031 19.4823C28.1337 19.2876 28.2207 19.0746 28.3423 18.8965C28.4244 18.7764 28.6206 18.5823 28.7339 18.5093C28.7776 18.4811 28.8222 18.4496 28.8329 18.4392C28.8672 18.4063 29.0618 18.3226 29.1669 18.2956C29.3237 18.2552 29.4904 18.23 29.5997 18.23C29.7305 18.23 29.9415 18.2624 30.0739 18.3028C30.185 18.3367 30.399 18.4346 30.399 18.4514C30.399 18.4568 30.4214 18.4745 30.4488 18.4908C30.503 18.523 30.7173 18.6967 30.7177 18.7087C30.7183 18.7279 30.851 18.8533 30.863 18.846C30.8705 18.8415 30.8767 18.8121 30.8767 18.7807C30.8767 18.7494 30.8827 18.6811 30.89 18.6292C30.9138 18.4604 30.9983 17.7603 31.011 17.6271C31.0177 17.5558 31.0298 17.4848 31.0379 17.4693C31.0459 17.4539 31.0498 17.4232 31.0465 17.4013C31.0432 17.3793 31.046 17.3613 31.0527 17.3613C31.0595 17.3613 31.0629 17.3322 31.0604 17.2965C31.0579 17.2608 31.061 17.2317 31.0673 17.2317C31.0736 17.2317 31.0761 17.2142 31.0729 17.1928C31.0697 17.1714 31.0725 17.1539 31.0793 17.1539C31.086 17.1539 31.0895 17.1247 31.0869 17.0891C31.0844 17.0534 31.0874 17.0242 31.0937 17.0242C31.0999 17.0242 31.1028 17.001 31.1 16.9725C31.0972 16.944 31.0988 16.9192 31.1035 16.9174C31.1082 16.9155 31.1251 16.8032 31.1409 16.6677C31.1567 16.5322 31.1843 16.2959 31.2022 16.1426C31.2201 15.9893 31.2466 15.7764 31.2611 15.6694C31.2757 15.5625 31.2969 15.3874 31.3082 15.2805C31.3196 15.1735 31.3341 15.0452 31.3405 14.9953C31.3469 14.9453 31.3735 14.7236 31.3996 14.5026C31.4257 14.2816 31.456 14.0307 31.4669 13.9451C31.4778 13.8595 31.5018 13.6612 31.5202 13.5043C31.5387 13.3474 31.5625 13.152 31.5732 13.07C31.5839 12.988 31.6106 12.7634 31.6326 12.5709C31.6545 12.3783 31.6872 12.107 31.7052 11.968C31.7231 11.8289 31.7441 11.6539 31.7518 11.5791C31.7595 11.5042 31.7718 11.3962 31.7791 11.3392C31.8102 11.0963 31.8612 10.6832 31.872 10.5873C31.8784 10.5302 31.8986 10.3581 31.9168 10.2048C31.9351 10.0515 31.9565 9.86771 31.9643 9.7964C31.9722 9.7251 31.985 9.61212 31.9927 9.54537C32.0022 9.46425 32.0024 9.41966 31.9935 9.41097C31.9862 9.40383 31.9275 9.3929 31.863 9.38669C31.7985 9.38048 31.6502 9.36383 31.5335 9.34969C31.3218 9.32406 30.7897 9.26478 30.6511 9.2514C30.5109 9.23787 30.5047 9.23524 30.5201 9.1959C30.5334 9.16178 30.6637 8.75073 30.6976 8.63606C30.7071 8.60397 30.7784 8.37936 30.8561 8.13692C30.9338 7.89448 31.0038 7.67131 31.0116 7.64102C31.0194 7.61072 31.0317 7.58592 31.0389 7.58592C31.0461 7.58592 31.0486 7.57716 31.0444 7.56647C31.0402 7.55577 31.0432 7.54702 31.0511 7.54702C31.0591 7.54702 31.0624 7.53535 31.0586 7.52109C31.0548 7.50683 31.0574 7.49516 31.0645 7.49516C31.0715 7.49516 31.0736 7.48933 31.0691 7.4822C31.0646 7.47507 31.0679 7.46923 31.0765 7.46923C31.0855 7.46923 31.0892 7.45837 31.0851 7.4433C31.0813 7.42904 31.0842 7.41737 31.0916 7.41737C31.099 7.41737 31.1016 7.40862 31.0974 7.39793C31.0932 7.38723 31.0962 7.37848 31.1041 7.37848C31.1119 7.37848 31.1149 7.36973 31.1107 7.35903C31.1065 7.34834 31.1095 7.33959 31.1173 7.33959C31.1252 7.33959 31.1282 7.33083 31.124 7.32014C31.1198 7.30944 31.1228 7.30069 31.1306 7.30069C31.1385 7.30069 31.1415 7.29194 31.1372 7.28125C31.1331 7.27055 31.1348 7.2618 31.141 7.2618C31.1473 7.2618 31.1563 7.24575 31.1611 7.22614C31.1659 7.20654 31.1964 7.11102 31.2289 7.01387C31.2614 6.91673 31.288 6.8343 31.288 6.83069C31.288 6.82044 31.2272 6.79929 31.0691 6.7546C30.9888 6.73192 30.9201 6.70902 30.9165 6.70373C30.9109 6.69558 30.6074 6.59968 30.2928 6.50667C30.2454 6.49264 30.0096 6.421 29.7687 6.34745C29.5279 6.27391 29.2711 6.19636 29.1982 6.17509C29.1252 6.15383 28.8804 6.08 28.6541 6.01103C28.4279 5.94204 28.1353 5.85309 28.004 5.81335C27.8726 5.77362 27.7621 5.73693 27.7585 5.7318C27.7548 5.72668 27.6265 5.68438 27.4732 5.63778C27.3199 5.59118 27.0111 5.49704 26.7868 5.42859C26.5625 5.36013 26.3733 5.30412 26.3663 5.30412C26.3593 5.30412 26.3509 5.30851 26.3477 5.31385ZM26.8164 16.1545C26.8164 20.9248 26.8153 21.1705 26.7932 21.1663C26.7804 21.1639 26.2609 21.1615 25.6388 21.161L24.5076 21.16V16.1578C24.5076 13.4065 24.5116 11.1516 24.5165 11.1469C24.5213 11.1421 25.0408 11.1383 25.6709 11.1383H26.8164V16.1545ZM9.64812 14.3114C9.61197 14.4414 9.40804 15.1157 9.36093 15.261C9.34358 15.3145 9.31073 15.4224 9.28791 15.5009C9.19216 15.8299 9.01944 16.3858 8.99995 16.4276C8.98838 16.4524 8.97834 16.4888 8.97765 16.5086C8.97696 16.5283 8.97127 16.5445 8.96502 16.5445C8.95877 16.5445 8.95709 16.5533 8.9613 16.564C8.96549 16.5747 8.9625 16.5834 8.95466 16.5834C8.94681 16.5834 8.94382 16.5922 8.94803 16.6029C8.95222 16.6136 8.94918 16.6223 8.94126 16.6223C8.93334 16.6223 8.92998 16.634 8.9338 16.6483C8.93761 16.6625 8.93469 16.6742 8.92729 16.6742C8.91989 16.6742 8.91728 16.6829 8.92149 16.6936C8.92568 16.7043 8.9227 16.7131 8.91485 16.7131C8.907 16.7131 8.90401 16.7218 8.90822 16.7325C8.91241 16.7432 8.90937 16.752 8.90145 16.752C8.89353 16.752 8.89009 16.7634 8.89382 16.7773C8.89755 16.7912 8.89573 16.8043 8.88978 16.8065C8.88383 16.8086 8.83667 16.9503 8.78499 17.1215C8.73332 17.2926 8.67612 17.4797 8.6579 17.5371C8.63968 17.5946 8.62477 17.6544 8.62477 17.67V17.6984L8.94654 17.6985C9.12352 17.6986 9.60567 17.6989 10.018 17.6991C10.697 17.6996 10.7681 17.6976 10.7722 17.6787C10.7778 17.6525 10.7152 17.4321 10.5495 16.8946C10.4781 16.6628 10.3706 16.3099 10.3107 16.1102C10.2508 15.9106 10.1877 15.7035 10.1705 15.65C10.1532 15.5965 10.1202 15.4857 10.0969 15.4036C10.0737 15.3216 10.0498 15.2527 10.0437 15.2505C10.0377 15.2482 10.036 15.238 10.0401 15.2278C10.0441 15.2176 10.0404 15.2092 10.0319 15.2092C10.0234 15.2092 10.0205 15.2027 10.0256 15.1948C10.0306 15.1868 10.029 15.1766 10.0222 15.1721C10.0153 15.1675 9.99397 15.1113 9.97477 15.0471C9.95558 14.9829 9.91856 14.8604 9.8925 14.7749C9.86646 14.6893 9.81735 14.5245 9.78339 14.4086C9.70853 14.1532 9.69486 14.1433 9.64812 14.3114ZM18.7958 15.4823C18.7595 15.4882 18.7177 15.4988 18.7029 15.5057C18.6881 15.5127 18.6195 15.5337 18.5506 15.5523C18.3192 15.615 18.0992 15.7346 17.8665 15.9241C17.6128 16.1307 17.4305 16.4123 17.3178 16.7714C17.2466 16.9984 17.2317 17.107 17.2323 17.3937C17.2328 17.6238 17.2368 17.6706 17.2676 17.8091C17.3191 18.0401 17.3637 18.1515 17.5229 18.4473C17.6464 18.6765 17.9602 18.9534 18.2668 19.1036C18.6257 19.2794 19.05 19.331 19.4575 19.2483C19.6548 19.2082 19.8956 19.1083 20.0583 18.9991C20.1081 18.9656 20.1748 18.921 20.2067 18.8998C20.3575 18.7997 20.5497 18.5727 20.664 18.3596C20.792 18.121 20.8593 17.9192 20.8919 17.6764C20.9926 16.9261 20.7034 16.2106 20.1426 15.8223C20.0657 15.7691 19.9371 15.6945 19.8569 15.6565C19.7142 15.5891 19.5164 15.5203 19.4647 15.5203C19.4505 15.5203 19.4389 15.5152 19.4389 15.5089C19.4389 15.4754 18.9598 15.4555 18.7958 15.4823Z' fill='url(%23paint0_linear_150_31347)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_150_31347' x1='32.0972' y1='21.4494' x2='-0.0144369' y2='21.1146' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%233E82F4'/%3E%3Cstop offset='1' stop-color='%2393DCF7'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
	height: 32px;
	width: 32px;
}

.mail-provider-exchange-img {
	background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 0.400024H2.00002C1.11637 0.400024 0.400024 1.11637 0.400024 2.00002V18C0.400024 18.8837 1.11637 19.6 2.00002 19.6H18C18.8837 19.6 19.6 18.8837 19.6 18V2.00002C19.6 1.11637 18.8837 0.400024 18 0.400024Z' fill='%230078D4'/%3E%3Cpath d='M13.1444 6.48965H8.65488V9.11497H12.8688V10.7975H8.65488V13.5243H13.3836V15.1998H6.617V4.79956H13.1444L13.1444 6.48965Z' fill='white'/%3E%3C/svg%3E");
	height: 20px;
	width: 20px;
}

.mail-provider-other-img {
	background-image: url("data:image/svg+xml,%3Csvg width='24' height='18' viewBox='0 0 24 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.2195 7.56997L2.37745 0.412109H22.0616L12.2195 7.56997ZM23.8509 2.56981V2.20164L23.851 2.56977L23.8509 2.56981ZM23.8509 2.56981L12.2195 11.653L0.587921 2.56977V15.862C0.587921 16.7193 1.33718 17.4121 2.26076 17.4121H22.1781C23.1039 17.4121 23.8509 16.7182 23.8509 15.862V2.56981Z' fill='%238E52EC'/%3E%3C/svg%3E");
	height: 18px;
	width: 24px;
}

.mail-provider-outlook-img {
	background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.9997 0.662476H18.0003C18.8838 0.662476 19.6 1.35909 19.6 2.21838V17.7808C19.6 18.6402 18.8838 19.3367 18.0003 19.3367H1.9997C1.1162 19.3367 0.399994 18.6401 0.399994 17.7808V2.21838C0.399994 1.35909 1.11622 0.662476 1.9997 0.662476Z' fill='url(%23paint0_linear_181_31168)'/%3E%3Cpath d='M5.40489 7.18863C5.79916 6.3716 6.43556 5.68787 7.23239 5.22529C8.11482 4.73391 9.11955 4.48895 10.136 4.51735C11.078 4.49748 12.0075 4.72975 12.8231 5.18877C13.5899 5.63353 14.2074 6.28519 14.6008 7.06469C15.0292 7.92362 15.2427 8.8689 15.224 9.8234C15.2447 10.8209 15.025 11.8093 14.5825 12.7094C14.1797 13.5168 13.5426 14.1917 12.7498 14.6507C11.9028 15.1238 10.9387 15.3622 9.96228 15.34C9.00012 15.3625 8.05008 15.1276 7.21581 14.6609C6.44238 14.2155 5.81707 13.5631 5.4145 12.7816C4.98354 11.935 4.76748 11.0004 4.78439 10.056C4.76644 9.06692 4.97856 8.08673 5.40489 7.18863ZM7.35281 11.7978C7.56302 12.3143 7.91951 12.7623 8.38088 13.0897C8.85082 13.4092 9.41354 13.574 9.98669 13.56C10.5971 13.5834 11.1987 13.413 11.7007 13.0744C12.1563 12.748 12.5034 12.2988 12.6991 11.7825C12.9179 11.2059 13.0259 10.595 13.0177 9.98043C13.0244 9.35996 12.9229 8.74288 12.7174 8.15544C12.536 7.62508 12.2 7.1574 11.7505 6.8092C11.2611 6.45459 10.661 6.27473 10.0513 6.2999C9.4657 6.28515 8.89038 6.45126 8.40793 6.7744C7.93875 7.10322 7.57551 7.55515 7.36066 8.07735C6.88406 9.27433 6.88158 10.6008 7.35367 11.7995L7.35281 11.7978Z' fill='white'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_181_31168' x1='3.73542' y1='-0.553276' x2='15.7501' y2='20.8414' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%231784D9'/%3E%3Cstop offset='0.5' stop-color='%23107AD5'/%3E%3Cstop offset='1' stop-color='%230A63C9'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
	height: 20px;
	width: 20px;
}

.mail-provider-ukrnet-img {
	background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='22' height='22' rx='11' fill='url(%23paint0_linear_285_32151)'/%3E%3Cpath d='M7.02002 15.1396C5.00049 15.1396 3.68457 13.9956 3.68457 12.25V7.24951H5.65576V12.062C5.65576 12.9644 6.13916 13.5068 7.02539 13.5068C7.90625 13.5068 8.38965 12.9644 8.38965 12.062V7.24951H10.3608V12.25C10.3608 13.9902 9.05566 15.1396 7.02002 15.1396ZM11.5371 15V7.24951H13.2075L16.3066 11.7236H16.3442V7.24951H18.3101V15H16.6558L13.5405 10.4775H13.5029V15H11.5371Z' fill='white'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_285_32151' x1='3.82185' y1='-1.43227' x2='18.1782' y2='23.4323' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2317C2D9'/%3E%3Cstop offset='0.5' stop-color='%2310D5D5'/%3E%3Cstop offset='1' stop-color='%231B87B6'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
	height: 22px;
	width: 22px;
}

.mail-provider-img-smtp {
	background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='20' height='20' rx='10' fill='url(%23paint0_linear_401_16408)'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.8275 4.50668C10.6683 4.34742 10.3959 4.46022 10.3959 4.68545V7.9504H5.06625C4.92662 7.9504 4.81343 8.06358 4.81343 8.20321V11.7971C4.81343 11.9368 4.92662 12.05 5.06625 12.05H10.3959V15.3149C10.3959 15.5401 10.6683 15.6529 10.8275 15.4937L16.1422 10.1789C16.241 10.0802 16.241 9.92014 16.1422 9.82141L10.8275 4.50668Z' fill='white'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_401_16408' x1='3.47441' y1='-1.30206' x2='16.5256' y2='21.3021' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2317D9AA'/%3E%3Cstop offset='0.5' stop-color='%2310D58E'/%3E%3Cstop offset='1' stop-color='%230ABEC9'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
}

.mail-provider-item-title-container {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 7px;
}

.mail-provider-item-title {
	font-family: var(--ui-font-family-secondary);
	font-size: var(--ui-font-size-md);
	font-weight: var(--ui-font-weight-semi-bold);
	color: var(--ui-color-palette-gray-80);
}

.mail-provider-item-subtitle {
	font-family: var(--ui-font-family-primary);
	font-size: var(--ui-font-size-4xs);
	font-weight: var(--ui-font-weight-medium);
	color: var(--ui-color-palette-gray-90);
}

.mail-provider-item:hover {
	box-shadow: 0 5px 12px rgba(0,0,0,.2);
}

.mail-provider-list {
	display: flex;
	column-gap: 18px;
	row-gap: 24px;
	flex-wrap: wrap;
}

.showcase-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

