.bx-im-sidebar-main-preview__scope {
	--im-sidebar-main-preview__border-color_avatar: #fff;
	--im-sidebar-main-preview__color_more-users: #bdc1c6;
}

.bx-im-sidebar-main-preview-group-chat__avatar-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 172px;
	padding: 25px 16px 0;
}

.bx-im-sidebar-main-preview-group-chat__avatar {
	height: 94px;
	display: flex;
	align-items: center;
	flex-shrink: 0;
}

.bx-im-sidebar-main-preview-group-chat__title {
	flex-grow: 1;
}

.bx-im-sidebar-main-preview-group-chat__title .bx-im-chat-title__content {
	text-align: center;
}

.bx-im-sidebar-main-preview-group-chat__title .bx-im-chat-title__text {
	font: var(--im-font-size-xl)/18px var(--im-font-family-system);
	font-weight: var(--im-font-weight-semi-bold);
	padding: 2px 0;
}

.bx-im-sidebar-main-preview-group-chat__chat-user-avatar.bx-im-avatar__container {
	box-sizing: content-box;
}

.bx-im-sidebar-main-preview-group-chat__chat-members {
	height: 42px;
	padding: 7px 16px 11px;
}

.bx-im-sidebar-main-preview-group-chat__settings {
	display: flex;
	flex-direction: column;
	gap: 8px;
	padding: 5px 16px 14px;
}