.bx-im-sidebar-auto-delete__container {
	--im-sidebar-auto-delete-settings__color_title: #008dba;
	--im-sidebar-auto-delete-setttings__color_status: #a8adb4;
	--im-sidebar-auto-delete__background-image_icon: url('data:image/svg+xml,%3Csvg%20width%3D%2212%22%20height%3D%2214%22%20viewBox%3D%220%200%2012%2014%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M11.3383%203.27898C11.5702%203.04711%2011.5702%202.67035%2011.3383%202.43848C11.1064%202.20661%2010.7297%202.20661%2010.4978%202.43848L9.81487%203.12142C8.9335%202.39982%207.84336%201.92646%206.64977%201.80679L6.64903%201.4986H7.43378C7.76226%201.4986%208.0283%201.23256%208.0283%200.904084C8.0283%200.575608%207.76226%200.30957%207.43378%200.30957H4.67524C4.34676%200.30957%204.08073%200.575608%204.08073%200.904084C4.08073%201.23256%204.34676%201.4986%204.67524%201.4986H5.46V1.80679C2.45984%202.10554%200.109375%204.6441%200.109375%207.72149C0.109375%2010.9994%202.7766%2013.6666%206.05451%2013.6666C9.33242%2013.6666%2011.9997%2010.9994%2011.9997%207.72149C11.9997%206.29614%2011.4943%204.98673%2010.6553%203.96188L11.3383%203.27898ZM8.61766%208.50629H6.05455C5.72608%208.50629%205.46004%208.24025%205.46004%207.91178V4.67458C5.46004%204.3461%205.72608%204.08006%206.05455%204.08006C6.38303%204.08006%206.64907%204.3461%206.64907%204.67458V7.31726H8.61766C8.94613%207.31726%209.21217%207.5833%209.21217%207.91178C9.21217%208.24025%208.94613%208.50629%208.61766%208.50629Z%22%20fill%3D%22%23008DBA%22%2F%3E%0A%3C%2Fsvg%3E%0A');

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-left: 30px;
	height: 36px;
}

.bx-im-sidebar-auto-delete__container.--not-active {
	opacity: 0.3;
	cursor: not-allowed;
}

.bx-im-sidebar-auto-delete__container.--not-active .bx-im-toggle__container {
	cursor: not-allowed;
}

.bx-im-sidebar-auto-delete__title {
	display: flex;
	justify-content: space-between;
	height: 20px;
}

.bx-im-sidebar-auto-delete__title-text {
	position: relative;
	font: var(--im-font-size-md)/var(--im-font-line-height-2xs) var(--im-font-family-system);
	font-weight: var(--im-font-weight-semi-bold);
	color: var(--im-sidebar-auto-delete-settings__color_title);
}

.bx-im-sidebar-auto-delete__status {
	font: var(--im-font-size-xs)/var(--im-font-line-height-3xs) var(--im-font-family-system);
	color: var(--im-sidebar-auto-delete-setttings__color_status);
}

.bx-im-sidebar-auto-delete__icon::before {
	content: '';
	position: absolute;
	width: 20px;
	height: 20px;
	left: -30px;
	background-image: var(--im-sidebar-auto-delete__background-image_icon);
	background-position-x: center;
	background-position-y: 2px;
	background-repeat: no-repeat;
}
